# CASE STUDY 4 : AirQuality

In [3]:
import numpy as np
import pandas as pd
import os
os.chdir('C:\\Users\\Administrator\\Documents\\Jupiter notebooks\\Python Assignments\\DataSets')

In [4]:
air = pd.read_csv("airquality.csv")

In [5]:
# 1.Fetch the observations for 9 day of June
air[(air.Month == 6) & (air.Day == 9)]

    Ozone  Solar.R  Wind  Temp  Month  Day
39   71.0    291.0  13.8    90      6    9

In [6]:
# 2.Find Average temperature for the month of June
air[air.Month == 6]['Temp'].mean()

79.1

In [7]:
# 3.To which day of June has the least temperature
air[air.Month == 6].sort_values(by='Temp',ascending=True).Day.head(1).reset_index()

   index  Day
0     48   18

In [8]:
# 4.Find Maximum Ozone value for the month of May
air[air.Month == 5].sort_values(by='Ozone',ascending=False).Ozone.head(1).reset_index()

   index  Ozone
0     29  115.0

In [9]:
# 5.Find the count of the missing values in the ozone column of the data set
sum(pd.isnull(air['Ozone']))

37

In [10]:
# 6.Find out What is the mean of the Ozone column in this dataset
air[air.Ozone.notnull()]['Ozone'].mean()

42.12931034482759

In [11]:
# 7.Find out which month has the highest temperature
air_sort = air.sort_values('Temp', ascending=False)
msort = air_sort.groupby('Month')[['Month','Temp']].head(1)
msort.head(1)

     Month  Temp
119      8    97

In [12]:
# 8.Find out the wind value when the Ozone becomes maximum
air.sort_values('Ozone', ascending=False)[['Ozone','Wind']].reset_index().head(1)

   index  Ozone  Wind
0    116  168.0   3.4

In [13]:
# 9.Find out the months for which the airquality observations have been carried out
air.Month.unique()

array([5, 6, 7, 8, 9], dtype=int64)

In [14]:
# 10.Find the Ozone and temperature values for the 1st observation of every month.
air.query("(Day==1)")[['Ozone','Temp','Month','Day']]

     Ozone  Temp  Month  Day
0     41.0    67      5    1
31     NaN    78      6    1
61   135.0    84      7    1
92    39.0    81      8    1
123   96.0    91      9    1

In [15]:
# 11.Which day of which month corresponds to the least Ozone Value. 
air.sort_values('Ozone',ascending=True).head(1)[['Month','Day','Ozone']]

    Month  Day  Ozone
20      5   21    1.0

In [17]:
# 12.Convert the temperature for all the observations to Centigrade scale
round(((air.Temp-32)*5)/9,2).head()

0    19.44
1    22.22
2    23.33
3    16.67
4    13.33
Name: Temp, dtype: float64