# CASE STUDY 3: Terror

In [1]:
import numpy as np
import pandas as pd
import os
os.chdir('C:\\Users\\Administrator\\Documents\\Jupiter notebooks\\Python Assignments\\DataSets')

In [2]:
terror = pd.read_csv("terror.csv", encoding='Latin', low_memory=False)

In [4]:
# 1.How many attacks happened in India?
terror[terror.country_txt == 'India']['attacktype1_txt'].count()

9940

In [5]:
# 2.How many attacks happened in India and upto 3 people were killed? 
terror[(terror.country_txt == 'India') & (terror.nkill <= 3)]['attacktype1_txt'].count()

8362

In [19]:
# 3.Extract the city and summary for attacks above
terror[(terror.country_txt == 'India') & (terror.nkill <= 3)][['city','summary']].dropna(axis=0).head()

             city                                            summary
67453   New Delhi  01/09/1998: At least 44 people were injured, t...
67555  Coimbatore  02/14/1998: Thirty-six people were killed and ...
67556  Coimbatore  02/14/1998: Thirty-six people were killed and ...
67557  Coimbatore  02/14/1998: Thirty-six people were killed and ...
67558  Coimbatore  02/14/1998: Thirty-six people were killed and ...

In [7]:
# 4.In a single terror incident in India, find out top 5 cities by number killed
terror.query("(country_txt=='India')")[["city","nkill"]].sort_values('nkill',ascending=False).head(5)

                     city  nkill
81000              Mumbai  188.0
96598             Jhargam  115.0
54339              Bombay  115.0
95860  Dantewada district   82.0
56837            Banabari   70.0

In [8]:
# 5.In a single terror incident in India, find out top 5 cities by number killed and wounded 
t5 = terror.query("(country_txt=='India')")[["city","nkill","nwound"]].sort_values('nkill',ascending=False)
t5['nkill_nwound'] = t5.nkill+t5.nwound
t5.sort_values('nkill_nwound',ascending=False).head(5)

            city  nkill  nwound  nkill_nwound
81000     Mumbai  188.0   817.0        1005.0
89128     Dispur   37.0   235.0         272.0
96598    Jhargam  115.0   140.0         255.0
30378    Chennai   32.0   200.0         232.0
79045  New Delhi   55.0   155.0         210.0

In [9]:
# 6.How many attacks were successful that were suicide attacks?
terror.query("(success==1 and suicide==1)").count().iyear

4260

In [10]:
# 7.label all the incidents where the number killed was more than 5 as severe. 
terror['label'] = np.where(terror['nkill'] > 5, 'severe', 'notsevere')
terror.query("(label=='severe')").count().iyear

13874

In [12]:
# 8.write a function to label an incident that was both successful and suicidal
def check(event) :
    if ((terror.suicide[terror.eventid == event] == 1).tolist()[0] and 
        (terror.success[terror.eventid == event] == 1).tolist()[0]) :
        print('Yes,Exist')
    else :
        print('No,Not Exits')
        
check(200707070001)
check(201410290055)

Yes,Exist
No,Not Exits

In [14]:
# 9.Create a new category representing if the incident occured in Afghanistan, Pakistan or India 
#as one level of the category and all the other countries as another level
terror['Area']= ""
i=0 
j=0
while i<156772:
    if (terror.iat[i,8] == 'Afghanistan' or terror.iat[i,8]=='Pakistan'or terror.iat[i,8]=='India' ):
        terror.iat[i,138] = "First level"
    else:
        terror.iat[i,138] = "Second level"
    i= i + 1
terror[['eventid','country_txt','Area']].head()

        eventid         country_txt          Area
0  197000000001  Dominican Republic  Second level
1  197000000002              Mexico  Second level
2  197001000001         Philippines  Second level
3  197001000002              Greece  Second level
4  197001000003               Japan  Second level

In [17]:
# 10.How many incidents happened in Af-Pak-India vs ROW?
t10=terror.query("(country_txt=='India' or country_txt=='Afghanistan' or country_txt=='Pakistan')").count().iyear
t10

32398

In [18]:
# 11.List the number of suicides attacks and average kills by Af-Pak-India vs ROW. Rename columns in the output as 
# Average_Kills and Number_Incidents.
terror[terror.suicide==1].groupby('Area').agg({'suicide':'count','nkill':'mean'})

              suicide      nkill
Area
First level      1462   8.127404
Second level     3309  11.511403